.header {
      padding: 1rem;
      margin-bottom: 1rem;
      background-image: linear-gradient(90deg,#ececec,#f1efef);
      border-radius: .3rem; 
      font-weight: 900; 
      box-shadow: 1px 2px 2px;
    }